/* 320px */
.home-content {
    width: 25rem;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.home-profile {
    width: 25rem;
    height: 21.3rem;
    background-size: contain;
    margin-bottom: 2.4rem;
    animation: 3s fadeBot;
    transition: all 0.5s ease-in-out;
    background: url("/cloud.svg") center no-repeat;
    display: flex; justify-content: center; align-items: center;
    color: black;
    font: bold 1.6rem "Inter";
}

#easter-egg {
    width: 50%; height: 50%;
    justify-content: center; align-items: center;
    display: none;
}

.home-profile:hover {
    background: url("/cloud_hover.svg") center no-repeat;
}

.home-profile:hover #easter-egg {
    animation: 1s fadeTop;
    display: flex;
}


.home-header {
    font: bold 3rem "Inter";
    margin-bottom: 1.6rem;
    animation: 3s fadeRight;
}

.home-subheader {
    color: #666666;
    font: bold 1.6rem "Inter";
    margin-bottom: 2rem;
    animation: 3s fadeLeft;
}

.socials {
    display: flex;
    width: 100vw;
    justify-content: center;
    animation: 3s fadeTop;
}

.socials a{
    margin: 0 1.2rem 0 1.2rem;
    width: 2.8rem;
    aspect-ratio: 1;
    display: flex;
    color: black;
    cursor: pointer;
}

.socials svg {
    font-size: 2.8rem;
}

/* blob */
.blob-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#blob {
    width: 15rem;
    aspect-ratio: 1;
    position: relative;
    display: flex; justify-content: center; align-items: center;
    text-align: center;
    font: bold 1.2rem "Inter";
}

#blob span {
    background-color: #FAD9D9;
    border: 0.4rem solid #FAD9D9;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

#blob:hover > span{
    background-color: transparent;
}

#blob span:nth-child(1) {
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    animation: rot 6s linear infinite, move 10s ease-in-out infinite;
}

#blob span:nth-child(2){
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: rot 4s linear infinite, move 10s;
}

#blob span:nth-child(3) {
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
    animation: rot_rev 10s linear infinite, move 10s;
}

/* animations */
@keyframes rot {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
@keyframes rot_rev {
    0% {
        rotate: 360deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes fadeBot {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeTop {
    0% {
        opacity: 0;
        transform: translateY(1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
