.ex-card {
    min-width: 30rem;
    min-height: 20rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ex-container {
    margin: 1.6rem 0 0.8rem 0;
    width: 27.6rem;
    height: 5rem;
    display: flex;
}

.ex-img {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 0.4rem;
    box-sizing: border-box;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.6rem;
}

.ex-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ex-org {
    font: var(--un2);
}

.ex-role {
    color: var(--neutral-380);
    font: var(--un4);
}

.ex-desc {
    color: var(--neutral-360);
    font: var(--un5);
    width: 27.6rem;
    overflow-wrap: anywhere;
}