.nav {
    width: calc(100% - 4rem);
    height: 5rem;
    position: absolute;
    top: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-logo, .nav-menu {
    width: 5rem;
    aspect-ratio: 1;
    cursor: pointer;
    z-index: 4;
}

.nav-links-col {    
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    height: 100vh;
    border-left: solid 0.2rem black;
    background: white;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.nav-links-col a:nth-child(1) {
    margin-top: 10.6rem;
}

.nav-links-col a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font: bold 2rem "Inter";
    margin: 0 0 1.6rem 0;
}

.nav-links-row a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font: bold 2rem "Inter";
    margin-left: 1.6rem;
}

@media (min-width: 768px) {
    .nav {
        width: 65.6rem;
    }
}

@media (min-width: 1024px) {
    .nav {
        width: 89.6rem;
    }
}

@media (min-width: 1280px) {
    .nav {
        width: 113.6rem;
    }
}

@media (min-width: 1536px) {
    .nav {
        width: 137.6rem;
    }
}