@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    margin: 10.6rem 0 2.4rem 0;
    color: black;
    font: bold 3rem "Inter";
}