@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* colors */
    --main-700: #000;
    --main-600: #3D3F40;
    --main-570: #55585A;
    --main-500: #797D80;

    /* fonts */
    --lg-h1: bold 6rem "Inter";
    --lg-h2: bold 2.8rem "Inter";
    --lg-h3: bold 2rem "Inter";
    --lg-h4: bold 1.6rem "Inter";
    --sm-h1: bold 3rem "Inter";
    --sm-h2: bold 2.4rem "Inter";
    --sm-h3: bold 1.6rem "Inter";
    --sm-h4: bold 1.2rem "Inter";
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    width: 100%;
    max-width: 32rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    margin: 10.6rem 0 2.4rem 0;
    color: black;
    font: bold 3rem "Inter";
}

.hidden {
    opacity: 0;
}

.show {
    animation: fadeBot 3s;  
    opacity: 1;
}

.easter-egg {
    position: fixed;
    left: 1.2rem;
    bottom: 1.2rem;
    color: #3D3F40;
    font: bold 1.2rem "Inter";
}

@media (min-width: 475px) {
    .container {
        max-width: 47.5rem;
    }
}
@media (min-width: 640px) {
    .container {
        max-width: 64rem;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 76.8rem;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 102.4rem;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 128rem;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 153.6rem;
    }
}

/* animations */
@keyframes rot {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
@keyframes rot_rev {
    0% {
        rotate: 360deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes fadeBot {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeTop {
    0% {
        opacity: 0;
        transform: translateY(1.6rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* projects page */
.card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}