@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    border-style: solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Rubik";
}

body, #root {
    @apply w-full min-h-screen overflow-x-hidden flex justify-center bg-white dark:bg-black text-black dark:text-white border-black dark:border-white
}

/* utility classes */
.btn-1 {
    @apply border-4 rounded-md shadow-brutalist dark:shadow-brutalist-dark dark:hover:shadow-none hover:shadow-none hover:translate-x-[4px] hover:translate-y-[6px] duration-150 ease-in-out
}

.btn-1-sm {
    @apply border-4 rounded-md shadow-brutalist-sm dark:shadow-brutalist-sm-dark dark:hover:shadow-none hover:shadow-none hover:translate-x-[2px] hover:translate-y-[3px] duration-150 ease-in-out
}

.btn-2 {
    @apply border-4 rounded-md relative after:absolute after:border-4 after:rounded-md after:top-1 after:right-1 after:content-[""] hover:after:translate-x-2 hover:after:-translate-y-2 after:duration-150 after:ease-in-out
}

.btn-2::after {
    width: calc(100% + 8px);
    height: calc(100% + 8px);
}

.brutalist {
    @apply border-4 rounded-md shadow-brutalist dark:shadow-brutalist-dark
}

.brutalist-sm {
    @apply border-4 rounded-md shadow-brutalist-sm dark:shadow-brutalist-sm-dark
}

.not-active, .is-active {
    @apply border-b-4 mt-1 flex justify-center items-center transition-all duration-500 ease-in-out hover:text-black hover:dark:text-white
}

.is-active {
    @apply text-black border-black dark:text-white dark:border-white
}

.not-active {
    @apply text-black border-transparent dark:text-white border-dashed hover:border-black dark:hover:border-white
}

/* scroll bar */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: gray;
}
::-webkit-scrollbar-thumb:hover {
    background: #4E4F51;
}

/* styling for project and blog articles */
#article h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
#article h2 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 2rem;
}
#article h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 1.5rem;
}
#article p {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 1rem;
}
#article img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.75rem;
}

#article hr {
    border: 0;
    margin: 1rem 0;
}

#article a {
    color: rgb(37 99 235);
    text-decoration: underline;
}

#article pre {
    background-color: rgb(229 229 229);
    border-radius: 0.125rem;
    padding: 1rem;
    margin-top: 1rem;
}