@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Rubik";
}

body, #root {
    @apply w-screen min-h-screen overflow-x-hidden bg-white text-black dark:bg-dark-bg dark:text-white flex justify-center
}

.not-active, .is-active {
  @apply h-[40px] border-b-4 border-solid flex justify-center items-center transition-all duration-[0.4] ease-in-out hover:text-black hover:dark:text-white
}

.is-active {
  @apply text-black border-black dark:text-white dark:border-white
}

.not-active {
  @apply text-black/70 border-transparent dark:text-white/70
}

/* scroll bar */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4E4F51;
}

/* styling for project and blog articles */
#article h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
#article h2 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 2rem;
}
#article h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 1.5rem;
}
#article p {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 1rem;
}
#article img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.75rem;
}

#article hr {
    border: 0;
    margin: 1rem 0;
}

#article a {
    color: rgb(37 99 235);
    text-decoration: underline;
}

#article pre {
    background-color: rgb(229 229 229);
    border-radius: 0.125rem;
    padding: 1rem;
    margin-top: 1rem;
}